<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>VDKS System</title>
        
            
        
            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
            <style>
                .bd-placeholder-img {
                  font-size: 1.125rem;
                  text-anchor: middle;
                  -webkit-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none;
                }
                
                .form-control{
                  margin:10px;
                }
                @media (min-width: 768px) {
                  .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                  }
                }
                table {
                    border-collapse: collapse;
                    width: 100%;
                }

                th, td {
                    text-align: left;
                    padding: 8px;
                }

                tr:nth-child(even){background-color: #f2f2f2}

                th {
                    background-color: #4CAF50;
                    color: white;
                }
            </style>
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <img class="navbar-brand" src="{{ url_for('static', filename='vdks1.gif')}}" alt="" width="60" height="40">
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav">
                       <li class="nav-item active">
                         <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                       </li>
                       <li class="nav-item">
                         <a class="nav-link " name="user" href="userpg" >User</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="sanitizer">Sanitizer</a>
                         </li>
           
                       <li class="nav-item">
                         <a class="nav-link" href="tpa">TPA</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="cloud">Cloud</a>
                       </li>
                       <li class="nav-item">
                         <a class="nav-link" href="keygenerator">Key Generator</a>
                     </li>
                       
                     </ul>
                   </div>
                 </nav>
    </head>
    
</html>
