<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>VDKS System</title>
    <style>
    .blockm{
        margin-top:50px;

    }
    
    </style>

  </head>
  <body>
      {% include "header.html" %}

      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome to VDKS  - </strong>Data Sharing With Sensitive Information Hiding For Secure Cloud Storage.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


    <body>
        
        <div class='container col-md-6'>
        <form method="POST" action="/keygeneratorlogin">
           <h1> Key Generator Login  </h1>
         
          <div class="form-group blockm ">
             <input type="text" class="form-control" name="uemail" placeholder="Enter Email id">
           </div>
          <div class="form-group ">    
            <input type="text" class="form-control" name="upass" placeholder="Enter Password">
          </div>
         
      
         
       
          
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
           
        
        </div>

        
          

  

      </form>
</div>

        
          
{% include "footer.html" %}</body>
</html>