<!doctype html><html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>VDKS System</title>

  </head>
  <body>
      {% include "header.html" %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="keygeneratoractivateuser">Activated User</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="keygeneratorpendingactivation">Pending User Activation</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/" target = "_blank">Logout</a>
            </li>
            
          </ul>
        </div>
      </nav>

      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome to VDKS  - </strong>Data Sharing With Sensitive Information Hiding For Secure Cloud Storage.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


    <body>
        
     <p>Welcome Key Generator </p>
          

       

     {% include "footer.html" %}
        
          
 </body>
    </html>