<!doctype html><html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>VDKS System</title>
 

  </head>
  <body>
      {% include "header.html" %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="keygeneratoractivateuser">Activated User</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="keygeneratorpendingactivation">Pending User Activation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logout">Logout</a>
            </li>

            
          </ul>
        
      
    </div>
  </nav>

      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome to VDKS  - </strong>Data Sharing With Sensitive Information Hiding For Secure Cloud Storage.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


    <body>
       
     <p>Activate User </p>


     <table>
      <tr>
        <th>User ID</th>
        <th>User NAme</th>
        <th>User Email ID</th>
        <th>User Mobile </th>
        <th>User City Name</th>
        <th>User Account Status</th>

      </tr>
       {% for userdetails in gene %}
      <tr>
        <td>{{ userdetails.uid }}</td>
        <td>{{ userdetails.username }}</td>
        <td>{{ userdetails.useremail }}</td>
        <td>{{ userdetails.usermobile }}</td>
        <td>{{ userdetails.usercity }}</td>
        <td>{{ userdetails.account }}</td>


      </tr>  
      {% endfor %}
      </table>
  
          
      {% include "footer.html" %}
       
      

        
          
       </body>

    </html>