<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VDKS System</title>

    

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        
        .form-control{
          margin:10px;
        }
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>


  </head>
  <body >
      {% include "header.html" %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome to VDKS  - </strong>Data Sharing With Sensitive Information Hiding For Secure Cloud Storage.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <li class="nav-item">
            <a class="nav-link" href="/" target = "_blank">Logout</a>
        </li>
      </div>
        
        <div class=container>

        
         </div> 


         {% include "footer.html" %}
    </body>
</html>