<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VDKS System</title>

    

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        
        .form-control{
          margin:10px;
        }
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }

        .labels{
          float:left;
        }
      </style>


  </head>
  <body>
    {% include "header.html" %}
    <body>
        
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
           <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav">
               <li class="nav-item">
                 <a class="nav-link " name="user" href="userviewuploadedfile/{{ activitedlogin.uid }}" target = "_blank" >View Uploaded File</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="userauditingrequest/{{ activitedlogin.uid }}" target = "_blank">Auditing Request</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/" target = "_blank">Logout</a>
              </li>
             </ul>
           </div>
         </nav>
         <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Welcome </strong>{{ activitedlogin.username }} from {{activitedlogin.usercity}}
   
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      <div class="container col-md-8">
 
        <form class="form-signin text-center" method="POST" action="/userfile/{{ activitedlogin.uid }}">
   
 
          
          <label class="labels">Enter Name</label>
          <input type="text" id="inputEmail" name = "username" class="form-control" required autofocus>    
        
          <label class="labels">User Private key</label>
          <input type="text" id="inputEmail" name = "key" class="form-control" value="{{activitedlogin.userkey}}">    
        

          <label class="labels">Select File</label>
          <input type="file" id="file"  name="userfile" class="form-control " required> 
          <button class="btn btn-lg btn-primary btn-block form-control" type="submit">Submit</button>
         

        </div>
          </form>
         


        
    
   
          {% include "footer.html" %}
        </body>
    </html>