<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VDKS System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
      table {
                    border-collapse: collapse;
                    width: 100%;
                }

                th, td {
                    text-align: left;
                    padding: 8px;
                }

                tr:nth-child(even){background-color: #f2f2f2}

                th {
                    background-color: #4CAF50;
                    color: white;
                }
    </style>
  </head>
  <body >
 
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

              <li class="nav-item">
            
                      <a class="nav-link " href="" ></a>
   
              </li>
            </ul>
          </div>
        </nav>
      <h1> Auditing Request</h1>
      <table>
        <tr>
          <th>File ID</th>
          <th>User ID</th>
          <th>Name</th>
          <th>Private key</th>
          <th>File Name </th>
          <th>Audit Report</th>

  
        </tr>
         {% for Userrecord in viewup %}
        <tr>
          <td>{{ Userrecord.id }}</td>
          <td>{{ Userrecord.uid }}</td>
          <td>{{ Userrecord.username }}</td>
          <td>{{ Userrecord.filekey }}</td>
          <td>{{ Userrecord.filename }}</td>
          <td><a href="auditreportrequest"><button>Send</button></a></td>
 
  
  
        </tr>  
        {% endfor %}
        </table>



   
        
        
          
         


       

      </form>


      {% include "footer.html" %}
    </body>
</html>